Repository ViorelMocanu/digital-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --

.lintstagedrc.json:

{
	"*.{html,css,js,cjs,mjs,ts,astro,md,json,yml,yaml}": ["prettier --write"],
	"*.md": ["markdownlint --fix"],
	"*.{js,cjs,ts,astro}": ["eslint --"]
}

fix: upgrade astro from 4.11.5 to 4.12.2
  package.json
Due: prettier --write

chore: db connection improvement
  .editorconfig
  .gitignore
  astro.config.mjs
  data/resources.csv
  db/config.ts
  db/seed.ts
  db/tables.ts
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/components/Avatar.astro
  src/components/Header.astro
  src/components/ResourceList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/config.ts
  src/pages/[...slug].astro
  src/pages/index.astro
  src/pages/r/[slug].astro
  src/pages/r/index.astro
  src/pages/t/[slug].astro
  src/pages/t/index.astro
  src/style/style.scss
  src/utils/getSortedItems.ts
  src/utils/urlHelpers.ts
Due: prettier --write, eslint --

chore: update resources and fix slugification errors
  data/resources.csv
Due: none

chore: linting and final steals
  src/components/Header.astro
  src/components/Pagination.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/config.ts
  src/pages/[...slug].astro
  src/pages/index.astro
Due: prettier --write, eslint --

chore: update packages
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: updates
  .stylelintrc.json
  README.md
  astro.config.mjs
  db/seed.ts
  package.json
  pnpm-lock.yaml
  src/config.ts
  src/layouts/Layout.astro
  src/style/style.scss
  tsconfig.json
Due: prettier --write, markdownlint --fix, eslint --

chore: add missing generic refs in ResourceList
  src/components/ResourceList.astro
Due: prettier --write, eslint --

fix: imports and cleanup
  src/components/Header.astro
  src/components/ResponsiveImage.astro
  src/pages/index.astro
Due: prettier --write, eslint --

fix: import order
  src/pages/index.astro
Due: prettier --write, eslint --

chore: update deps and CSP
  package.json
  pnpm-lock.yaml
  vercel.json
Due: prettier --write

chore: futher CSP updates
  vercel.json
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
  src/components/PostHog.astro
Due: prettier --write, eslint --

chore: update deps and add capo
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: upgrade astro-embed from 0.7.4 to 0.8.0
  package.json
Due: prettier --write

feat: upgrade astro from 4.16.18 to 5.0.3
  package.json
Due: prettier --write

feat: upgrade @astrojs/vercel from 7.8.2 to 8.0.0
  package.json
Due: prettier --write

feat: upgrade node-html-parser from 6.1.13 to 7.0.1
  package.json
Due: prettier --write

feat: upgrade astro from 4.16.18 to 5.8.0
  package.json
Due: prettier --write

feat: upgrade @sentry/astro from 8.55.0 to 9.22.0
  package.json
Due: prettier --write

fix: upgrade sharp from 0.33.5 to 0.34.2
  package.json
Due: prettier --write

fix: upgrade astro-embed from 0.7.4 to 0.9.0
  package.json
Due: prettier --write

fix: package.json & pnpm-lock.yaml to reduce vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write
