Repository ViorelMocanu/digital-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --

feat: fix astro classes
  src/components/Button.astro
  src/components/Footer.astro
  src/components/Message.astro
  src/components/ResourceTOC.astro
  src/components/ResponsiveImage.astro
  src/pages/index.astro
  src/utils/urlHelpers.ts
Due: prettier --write, eslint --

fix: markdown errors and styling issues
  astro.config.mjs
  src/components/ResourceList.astro
  src/content/subcategories/accesibilitate.md
  src/content/subcategories/browser.md
  src/content/subcategories/conventii-si-bune-practici.md
  src/content/subcategories/elemente-de-baza.md
  src/content/subcategories/embed-uri-si-componente.md
  src/content/subcategories/emmet.md
  src/content/subcategories/formulare.md
  src/content/subcategories/ide.md
  src/content/subcategories/meta-informatii.md
  src/content/subcategories/multimedia.md
  src/content/subcategories/sectiuni-de-continut.md
  src/content/subcategories/semantica.md
  src/content/subcategories/seo-tehnic.md
  src/content/subcategories/structuri-informationale.md
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

feat: sort out content in the resource list
  astro.config.mjs
  src/components/ResourceList.astro
  src/content/categories/css.md
  src/content/categories/experienta-utilizatorului.md
  src/content/categories/html.md
  src/content/categories/introducere-in-back-end.md
  src/content/categories/introducere-in-front-end.md
  src/content/categories/mobile-first-responsive-design.md
  src/content/categories/unelte-utile-de-front-end.md
  src/content/config.ts
  src/content/subcategories/accesibilitate.md
  src/content/subcategories/browser.md
  src/content/subcategories/conventii-si-bune-practici.md
  src/content/subcategories/elemente-de-baza.md
  src/content/subcategories/embed-uri-si-componente.md
  src/content/subcategories/emmet.md
  src/content/subcategories/formulare.md
  src/content/subcategories/ide.md
  src/content/subcategories/meta-informatii.md
  src/content/subcategories/multimedia.md
  src/content/subcategories/sectiuni-de-continut.md
  src/content/subcategories/semantica.md
  src/content/subcategories/seo-tehnic.md
  src/content/subcategories/structuri-informationale.md
  src/pages/[section]/[...page].astro
  src/pages/resurse/[slug].astro
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

fix: types
  eslint.config.js
  src/components/Footer.astro
  src/components/ResourceList.astro
  src/components/ResponsiveImage.astro
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/confidentialitate.astro
  src/pages/resurse/[slug].astro
  src/pages/taguri/[slug].astro
  src/pwa.ts
  src/utils/dates.ts
  src/utils/urlHelpers.ts
  src/vite-env.d.ts
  static/js/script.js
Due: prettier --write, eslint --

fix: small fixes
  astro.config.mjs
  public/manifest.webmanifest
  src/components/ResourceFilter.astro
  src/components/ResourceTOC.astro
  src/layouts/Layout.astro
Due: prettier --write, eslint --

feat: icons
  astro.config.mjs
  public/favicon.ico
  public/favicon.png
  public/icon-16x16.png
  public/icon-192x192.png
  public/icon-32x32.png
  public/icon-512x512.png
  src/components/ResourceList.astro
  src/layouts/Layout.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/taguri/[slug].astro
  src/pwa.ts
Due: prettier --write, eslint --

fix: better publication date
  astro.config.mjs
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: lockfile for deploy
  pnpm-lock.yaml
Due: prettier --write

feat: implement a simpler breadcrumbs component
  src/components/Breadcrumbs.astro
  src/components/Header.astro
  src/config.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/confidentialitate.astro
  src/pages/contact.astro
  src/pages/cookies.astro
  src/pages/faq.astro
  src/pages/resurse/[slug].astro
  src/pages/resurse/index.astro
  src/pages/taguri/[slug].astro
  src/pages/taguri/index.astro
  src/pages/termeni-si-conditii.astro
Due: prettier --write, eslint --

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write, markdownlint --fix

feat: add humans.txt and link it in the meta head
  public/humans.txt
  src/layouts/Layout.astro
Due: prettier --write, eslint --

feat: add additional site properties in humans.txt
  public/humans.txt
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

Create Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write, markdownlint --fix

Create greetings.yml
  .github/workflows/greetings.yml
Due: prettier --write

feat: update security.md and add supporting files
  SECURITY.md
  public/.well-known/security.txt
  src/pages/hall-of-fame.astro
  src/pages/politica-de-securitate.astro
Due: prettier --write, markdownlint --fix, eslint --

chore: update gitattributes
  .gitattributes
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

feat: better readme and env support
  .env.example
  .gitignore
  README.md
  astro.config.mjs
  src/config.ts
Due: prettier --write, markdownlint --fix, eslint --

Update README.md
  README.md
Due: prettier --write, markdownlint --fix

feat: add ability to render Markdown pages in Astro
  astro.config.mjs
  src/components/MarkdownTOC.astro
  src/config.ts
  src/layouts/LayoutMarkdown.astro
  src/pages/README.md
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

chore: update dependencies and add more eslinters
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Breadcrumbs.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  static/js/script.js
Due: prettier --write, eslint --

feat: add resource-specific emojis based on type
  src/components/ResourceList.astro
  src/config.ts
  src/content/resources/resilient-web-design.md
  src/pages/resurse/[slug].astro
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

feat: better resource page design
  src/content/resources/resilient-web-design.md
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/resurse/[slug].astro
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

feat: update some existing content
  astro.config.mjs
  src/content/resources/how-does-the-web-work.md
  src/content/resources/img/og-the-odin-project.png
  src/content/resources/odin-project-web-development.md
  src/pages/resurse/[slug].astro
  src/style/style.scss
Due: prettier --write, markdownlint --fix, eslint --

feat: add new resource
  src/content/config.ts
  src/content/resources/complete-beginners-guide-to-information-architecture.md
  src/content/resources/img/complete-beginners-guide-to-information-architecture.jpg
Due: prettier --write, markdownlint --fix, eslint --

fix: typo in English content
  README.md
Due: prettier --write, markdownlint --fix

fix: remove json stringify and unused var
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: deploy and dependency issues
  .gitignore
  astro.config.mjs
  src/config.ts
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
Due: prettier --write, eslint --

feat: resource location list component
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/config.ts
  src/content/config.ts
  src/content/resources/complete-beginners-guide-to-information-architecture.md
  src/content/resources/how-does-the-internet-work.md
  src/content/resources/how-does-the-web-work.md
  src/content/resources/odin-project-web-development.md
  src/content/resources/resilient-web-design.md
  src/content/resources/test.md
  src/content/resources/test2.md
  src/pages/resurse/[slug].astro
  src/style/style.scss
  src/utils/dates.ts
  src/utils/resourceMeta.ts
Due: prettier --write, markdownlint --fix, eslint --

feat: resource design updates
  astro.config.mjs
  public/manifest.webmanifest
  src/components/Footer.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTagList.astro
  src/content/resources/complete-beginners-guide-to-information-architecture.md
  src/content/sections/front-end.md
  src/pages/resurse/[slug].astro
  src/style/style.scss
  src/utils/urlHelpers.ts
Due: prettier --write, markdownlint --fix, eslint --

feat: further upgrades to styling
  src/components/MarkdownTOC.astro
  src/components/Pagination.astro
  src/components/ResourceList.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/404.astro
  src/pages/README.md
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/confidentialitate.astro
  src/pages/contact.astro
  src/pages/cookies.astro
  src/pages/faq.astro
  src/pages/hall-of-fame.astro
  src/pages/index.md
  src/pages/index2.astro
  src/pages/politica-de-securitate.astro
  src/pages/resurse/[slug].astro
  src/pages/resurse/index.astro
  src/pages/taguri/[slug].astro
  src/pages/taguri/index.astro
  src/pages/termeni-si-conditii.astro
  src/style/style.scss
  src/utils/resourceMeta.ts
Due: prettier --write, markdownlint --fix, eslint --

fix: add markdown content inside index instead of having full markdown index
  src/pages/README.md
  src/pages/index.astro
Due: prettier --write, markdownlint --fix, eslint --

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: lint and bugfix
  eslint.config.js
  src/components/LanguagePicker.astro
  src/components/MarkdownTOC.astro
  src/components/Pagination.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResponsiveImage.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/[section]/[...page].astro
  src/pages/index.astro
  src/pages/resurse/[slug].astro
  src/style/style.scss
  src/utils/urlHelpers.ts
Due: prettier --write, eslint --

fix: build bugs preventing deploy
  src/components/ResourceFilter.astro
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

feat: helpful content and meta rels on links
  src/components/HelpfulLinks.astro
  src/components/ResourceList.astro
  src/components/ResourceTagList.astro
  src/pages/404.astro
  src/pages/cauta.astro
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

Path conditions:
  prettier --write: any of: *.{html,css,js,cjs,mjs,ts,astro,md,json,yml,yaml}
  markdownlint --fix: any of: *.md
  eslint --: any of: *.{js,cjs,ts,astro}
