Repository ViorelMocanu/digital-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --

feat: add commitlint and husky commit hooks for linting
  .husky/commit-msg
  .husky/pre-commit
  README.md
  astro.config.mjs
  commitlint.config.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/content/sections/back-end.svg
  src/env.d.ts
  src/pages/404.astro
  src/pages/README.md
  src/pages/resurse/[slug].astro
  src/pwa.ts
  tsconfig.json
Due: prettier --write, markdownlint --fix, eslint --

feat: add vitest to prepare for future unit testing
  .husky/functions.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-push
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  test/basic.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --

fix: lint and typecheck issues
  .husky/pre-commit
  astro.config.mjs
  package.json
  src/components/ResponsiveImage.astro
  src/config.ts
  src/pages/cauta.astro
  vitest.config.ts
Due: prettier --write, eslint --

fix: add husky to gitignore
  .prettierignore
Due: none

refactor: change icon into span so they validate
  src/components/Breadcrumbs.astro
  src/components/CommentList.astro
  src/components/Header.astro
  src/components/LanguagePicker.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResourceTOC.astro
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

fix: lazy loading fixes for the ResponsiveImage component
  src/components/ResponsiveImage.astro
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

feat: add Vitests and make components typesafe via Cursor IDE and CodiumAI
  src/components/Breadcrumbs.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/Message.astro
  src/components/Pagination.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/components/ResponsiveImage.astro
  src/config.ts
  src/pages/resurse/[slug].astro
  src/utils/email.ts
  src/utils/resourceMeta.ts
  src/utils/urlHelpers.ts
  test/basic.test.ts
  test/resourceMeta.test.ts
  test/urlHelpers.test.ts
Due: prettier --write, eslint --

fix: package update, dependabot action, missing JSDoc
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  src/components/ResponsiveImage.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

feat: added getSortedItems general function
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

refactor: getCollection with the new function getSortedItems for test
  src/components/Footer.astro
Due: prettier --write, eslint --

refactor: removed contentCollections in exchange for getSortedItems.ts
  src/utils/contentCollections.ts
Due: prettier --write, eslint --

feat: auto-generating resource markdowns
  .github/workflows/greetings.yml
  package.json
  pnpm-lock.yaml
  src/content/resources/test/consultant-digital-growth-hacker-viorel-mocanu.md
  src/pages/_old_db.json
  src/pages/generare.astro
Due: prettier --write, markdownlint --fix, eslint --

refactor: added sortValueFromA/B instead of dataFromA/B[sortKey]
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

feat: make generation work until a point
  src/content/config.ts
  src/content/resources/test/consultant-digital-growth-hacker-viorel-mocanu.md
  src/pages/generare.astro
Due: prettier --write, markdownlint --fix, eslint --

feat: issue #39 - add analytics from several sources, fix typing
  .husky/pre-commit
  .prettierignore
  src/components/Analytics.astro
  src/components/Footer.astro
  src/config.ts
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

fix: typing and typos
  src/components/Analytics.astro
  src/components/Footer.astro
Due: prettier --write, eslint --

fix: remove Snyk and add unit testing
  .github/workflows/snyk-security.yml
  src/utils/getSortedItems.ts
  test/getSortedItems.test.ts
Due: prettier --write, eslint --

fix: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: sorted item list return type
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

docs: getSortedItems examples
  src/components/Footer.astro
  src/pages/[section]/[...page].astro
Due: prettier --write, eslint --

fix: typo in capitalization of CollectionKeyEnum
  src/config.ts
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

fix: hotfix - env debugging
  src/components/Analytics.astro
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: add staging environment variable
  astro.config.mjs
  src/components/Analytics.astro
  src/config.ts
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

fix: add preview env
  src/config.ts
Due: prettier --write, eslint --

feat: added astro-simpleanalytics-plugin package
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/layouts/Layout.astro
Due: prettier --write, eslint --

feat: add additional dependencies
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .vscode/launch.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/rss.xml.ts
Due: prettier --write, markdownlint --fix, eslint --

chore(getSortedItems): fix return type
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/config.ts
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/resurse/[slug].astro
  src/utils/getSortedItems.ts
  tsconfig.json
Due: prettier --write, eslint --

fix: bug in ResourceTOC
  src/components/ResourceList.astro
  src/components/ResourceTOC.astro
Due: prettier --write, eslint --

fix: finalize linting and commit to fixing everything
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/components/Footer.astro
  src/components/HelpfulLinks.astro
  src/components/ResourceFilter.astro
Due: prettier --write, eslint --

fix: jsdocs linting
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Breadcrumbs.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/Message.astro
  src/components/Pagination.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/components/ResponsiveImage.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/utils/getSortedItems.ts
  src/utils/resourceMeta.ts
  src/utils/urlHelpers.ts
Due: prettier --write, eslint --

fix: add stray Analytics file edit
  src/components/Analytics.astro
Due: prettier --write, eslint --

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: refactor types
  eslint.config.js
  src/components/ResourceList.astro
  src/components/ResourceTagList.astro
  src/pages/cauta.astro
  src/pages/resurse/[slug].astro
  src/pages/resurse/index.astro
  src/pages/taguri/[slug].astro
Due: prettier --write, eslint --

feat: update analytics for the astro-simpleanalytics-plugin usage
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: rename types and update deps
  package.json
  pnpm-lock.yaml
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/config.ts
Due: prettier --write, eslint --

chore: update more deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(all): typescript
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/components/Breadcrumbs.astro
  src/components/Header.astro
  src/components/ResourceFilter.astro
  src/components/ResourceTOC.astro
  src/components/ResponsiveImage.astro
  src/config.ts
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/cauta.astro
  src/pages/resurse/[slug].astro
  src/pages/resurse/index.astro
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

Path conditions:
  prettier --write: any of: *.{html,css,js,cjs,mjs,ts,astro,md,json,yml,yaml}
  markdownlint --fix: any of: *.md
  eslint --: any of: *.{js,cjs,ts,astro}
