Repository ViorelMocanu/digital-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --

.lintstagedrc.json:

{
	"*.{html,css,js,cjs,mjs,ts,astro,md,json,yml,yaml}": ["prettier --write"],
	"*.md": ["markdownlint --fix"],
	"*.{js,cjs,ts,astro}": ["eslint --"]
}

test commit
  .husky/functions.sh
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: fix hasky chmode
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-merge
Due: none

chore: fix hasky run on postinstall
  package.json
Due: prettier --write

fix(all): typescript-followup
  eslint.config.js
  package.json
  src/components/Analytics.astro
  src/components/Breadcrumbs.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/Message.astro
  src/components/Pagination.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/components/ResponsiveImage.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/resurse/[slug].astro
  src/pages/taguri/[slug].astro
  src/utils/getSortedItems.ts
Due: prettier --write, eslint --

feat: add supabase
  _old_db.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/env.d.ts
  src/lib/supabase.ts
  src/pages/api/auth/callback.ts
  src/pages/api/auth/register.ts
  src/pages/api/auth/signin.ts
  src/pages/api/auth/signout.ts
  src/pages/api/comments/add.ts
  src/pages/api/comments/delete.ts
  src/pages/api/comments/edit.ts
  src/pages/api/resources/add.ts
  src/pages/api/resources/delete.ts
  src/pages/api/resources/edit.ts
  src/pages/api/review/add.ts
  src/pages/api/review/delete.ts
  src/pages/api/review/edit.ts
  src/pages/api/tags/add.ts
  src/pages/api/tags/delete.ts
  src/pages/api/tags/edit.ts
  src/pages/dashboard.astro
  src/pages/register.astro
  src/pages/signin.astro
  src/pages/supabasetest.astro
  src/style/style.scss
Due: prettier --write, eslint --

chore(deps): update dependencies and switch render adapter and config to Vercel
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  test/getSortedItems.test.ts
Due: prettier --write, eslint --

chore(env): fix env variables to use correct Vercel vars
  src/config.ts
  src/lib/supabase.ts
  src/pages/supabasetest.astro
Due: prettier --write, eslint --

feat: integrate lite-youtube-embed
  src/pages/resurse/[slug].astro
  src/pages/supabasetest.astro
  src/style/style.scss
Due: prettier --write, eslint --

feat: add progressively enhanced content
  src/pages/resurse/[slug].astro
Due: prettier --write, eslint --

feat: add progressively enhanced content and update supabase test
  src/pages/supabasetest.astro
Due: prettier --write, eslint --

fix: changed ul element to menu element
  src/components/Header.astro
Due: prettier --write, eslint --

fix: changed ul element to menu element
  test/resourceMeta.test.ts
Due: prettier --write, eslint --

fix: brought back tests
  test/resourceMeta.test.ts
Due: prettier --write, eslint --

fix: use search element around elements with role=search
  src/components/Header.astro
  src/components/ResourceFilter.astro
Due: prettier --write, eslint --

fix: upgrade astro-compress from 2.1.6 to 2.2.0
  package.json
Due: prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  test/getSortedItems.test.ts
  vitest.config.ts
Due: prettier --write, eslint --

chore(tsconfig): configure alias paths and implement them in all the project files
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/components/Breadcrumbs.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/404.astro
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/api/auth/callback.ts
  src/pages/api/auth/register.ts
  src/pages/api/auth/signin.ts
  src/pages/cauta.astro
  src/pages/confidentialitate.astro
  src/pages/contact.astro
  src/pages/cookies.astro
  src/pages/dashboard.astro
  src/pages/faq.astro
  src/pages/hall-of-fame.astro
  src/pages/index.astro
  src/pages/politica-de-securitate.astro
  src/pages/register.astro
  src/pages/resurse/[slug].astro
  src/pages/resurse/index.astro
  src/pages/signin.astro
  src/pages/supabasetest.astro
  src/pages/taguri/[slug].astro
  src/pages/taguri/index.astro
  src/pages/termeni-si-conditii.astro
  src/utils/getSortedItems.ts
  tsconfig.json
Due: prettier --write, eslint --

chore(types): fix Params and Props type inferrence where getStaticPaths is used
  src/pages/[section]/[...page].astro
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  src/pages/taguri/[slug].astro
Due: prettier --write, eslint --

chore(package.json): add browser spec
  package.json
Due: prettier --write

chore(supabase): generate and update database types
  package.json
  pnpm-lock.yaml
  src/components/Breadcrumbs.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/config.ts
  src/customtypes/astro.ts
  src/customtypes/supabase.ts
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/lib/supabase.ts
  src/pages/resurse/[slug].astro
  src/pages/supabasetest.astro
  src/utils/getSortedItems.ts
  tsconfig.json
Due: prettier --write, eslint --

fix: upgrade astro from 3.4.4 to 3.5.1
  package.json
Due: prettier --write

fix: upgrade astro-simpleanalytics-plugin from 0.3.5 to 0.3.6
  package.json
Due: prettier --write

fix: upgrade sharp from 0.32.6 to 0.33.0
  package.json
Due: prettier --write

feat: upgrade @astrojs/rss from 3.0.0 to 4.0.0
  package.json
Due: prettier --write

chore: update dependencies
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: invalid size warning in build
  .vscode/settings.json
  astro.config.mjs
  package.json
  src/pages/index.astro
Due: prettier --write, eslint --

fix: remove compress breaking builds
  astro.config.mjs
Due: prettier --write

fix: attempt to fix resolutions of sharp breaking builds
  astro.config.mjs
  package.json
Due: prettier --write

fix: remove astro compress and sharp from the build stage to fix build
  astro.config.mjs
  package.json
Due: prettier --write

fix: pnpm lockfile update
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: ditch sharp and astro-compress
  astro.config.mjs
  pnpm-lock.yaml
Due: prettier --write

feat: add Vercel Analytics and Vercel Adapter for hybrid support
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update to hybrid rendering for web analytics support
  astro.config.mjs
Due: prettier --write

fix: remove some unit tests because vercel fails
  test/getSortedItems.test.ts
Due: prettier --write, eslint --

chore: update dependabot settings
  .github/dependabot.yml
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
  src/pages/resurse/[slug].astro
  src/pages/taguri/[slug].astro
Due: prettier --write, eslint --

chore: add csp and other vercel configs
  .gitignore
  astro.config.mjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/utils/csp-hash.ts
  vercel.json
Due: prettier --write, eslint --

chore: remove csp hash generator
  astro.config.mjs
Due: prettier --write

chore: fix eslint config
  eslint.config.js
Due: prettier --write, eslint --
