Repository ViorelMocanu/digital-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --

.lintstagedrc.json:

{
	"*.{html,css,js,cjs,mjs,ts,astro,md,json,yml,yaml}": ["prettier --write"],
	"*.md": ["markdownlint --fix"],
	"*.{js,cjs,ts,astro}": ["eslint --"]
}

chore: comment out csp hash
  src/utils/csp-hash.ts
Due: prettier --write, eslint --

chore: scrap sentry sourcemaps
  astro.config.mjs
Due: prettier --write

chore: update static github pages deploy versions
  .github/workflows/static.yml
Due: prettier --write

chore: scrap sentry
  astro.config.mjs
Due: prettier --write

chore: update csp
  vercel.json
Due: prettier --write

chore: update csp again
  astro.config.mjs
  vercel.json
Due: prettier --write

chore: update analytics
  src/components/Analytics.astro
  src/config.ts
Due: prettier --write, eslint --

Create ptt-light-scan.yml
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

chore: update deps 2024-02-14
  eslint.config.js
  package.json
Due: prettier --write, eslint --

chore: update lockfile via pnpm install
  pnpm-lock.yaml
  src/pages/resurse/[slug].astro
  src/pages/taguri/[slug].astro
  tsconfig.json
Due: prettier --write, eslint --

fix: upgrade astro from 4.3.7 to 4.4.0
  package.json
Due: prettier --write

fix: upgrade sass from 1.70.0 to 1.71.0
  package.json
Due: prettier --write

fix: upgrade @astrojs/check from 0.5.4 to 0.5.5
  package.json
Due: prettier --write

fix: upgrade @astrojs/sitemap from 3.0.5 to 3.1.0
  package.json
Due: prettier --write

[studio] Add GitHub Action
  .github/workflows/_studio.yml
Due: prettier --write

fix: upgrade @astrojs/vercel from 7.3.1 to 7.3.2
  package.json
Due: prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: update dependencies
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/content/categories/css.md
  src/content/categories/experienta-utilizatorului.md
  src/content/categories/html.md
  src/content/categories/introducere-in-back-end.md
  src/content/categories/introducere-in-front-end.md
  src/content/categories/mobile-first-responsive-design.md
  src/content/categories/unelte-utile-de-front-end.md
Due: prettier --write, markdownlint --fix

chore: update files after testing
  src/pages/[section]/[category]/[...page].astro
  src/pages/[section]/[category]/[subcategory]/[...page].astro
  vitest.config.ts
Due: prettier --write, eslint --

chore: remove .eslintignore as per spec
  .eslintignore
Due: none

fix: upgrade astro from 4.8.7 to 4.9.1
  package.json
Due: prettier --write

fix: upgrade astro-compress from 2.2.23 to 2.2.25
  package.json
Due: prettier --write

feat: add view transitions and update deps
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MarkdownTOC.astro
  src/components/ResourceActionList.astro
  src/components/ResourceFilter.astro
  src/components/ResourceList.astro
  src/components/ResourceLocationList.astro
  src/components/ResourceTOC.astro
  src/components/ResourceTagList.astro
  src/layouts/Layout.astro
  src/layouts/LayoutMarkdown.astro
  src/pages/resurse/[slug].astro
  src/style/style.scss
Due: prettier --write, eslint --

Update ptt-light-scan.yml
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

feat: change PTT CLI action and fix merge conflict
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

feat: add manual PTT CLI action
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

feat: update PTT CLI
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

feat: update PTT CLI for automation
  .github/workflows/ptt-light-scan.yml
Due: prettier --write

fix: upgrade astro from 4.10.2 to 4.10.3
  package.json
Due: prettier --write

fix: upgrade sass from 1.77.5 to 1.77.6
  package.json
Due: prettier --write

fix: upgrade @astrojs/vercel from 7.7.0 to 7.7.1
  package.json
Due: prettier --write

fix: upgrade @astrojs/sitemap from 3.1.5 to 3.1.6
  package.json
Due: prettier --write

chore: update dependencies july 2024
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update Layout.astro with Impact verification
  src/layouts/Layout.astro
Due: prettier --write, eslint --

fix: upgrade @astrojs/check from 0.8.1 to 0.8.2
  package.json
Due: prettier --write

fix: upgrade astro from 4.11.5 to 4.11.6
  package.json
Due: prettier --write

fix: upgrade astro from 4.11.5 to 4.12.1
  package.json
Due: prettier --write
